//Media queries

@media only screen and (min-width: 768px) and (max-width : 1024px){
/* tablets and small desktop */
	.header{

		h1{
			font-size: 3.0rem;
			padding-top: 40px;
		}

		h2{
			font-size: 2.0rem;
		}
	}
}

@media only screen and (max-width: 767px) {
/* phones */
	.header{

		h1{
			font-size: 2.3rem;
			padding-top: 20px;
		}

		h2{
			font-size: 1.8rem;
		}
	}

	.navbar{
		ul{
			li{
				margin: 0 10px;
			}
		}
	}
	.project-grid{

		li.item {

			a{
				width:100%;
			}
		}
	}
}

@media only screen and (max-width:  370px) and (orientation: portrait) {
		/* portrait phones */
	.header{
		height: 190px;
	}

	.navbar{
		img{
			width:  120px;
			margin: 22px 0;
		}
		ul{
			li{
				margin:  0 0 0 10px;
			}
		}
	}
	.project-grid{

		li.item {

			a{
				width:100%;
			}
		}
	}
}
