//Media queries

@media all and (min-width: $bp-large){
/* tablets and small desktop */
	.header,
	.hero-image{
		background-position: center;

		h1{
			font-size: 3.7rem;
			padding-top: 40px;
		}

		h2{
			font-size: 2.2rem;
		}
	}
	.project-grid{

		li.item {
			width: 43%;
		}
	}
}

@media all and (min-width:  $bp-med){
/* phones */
	.header,
	.hero-image{
		background-position: center;

		h1{
			font-size: 5rem;
			padding-top: 20px;
			margin-bottom: 30px;
		}

		h2{
			font-size: 2.7rem;
		}
	}

	.navbar{
		ul{
			li{
				margin: 0 10px;
			}
		}
	}
	.project-grid{

		li.item {
			width: 43%;
		}
	}
}

@media all and (max-width:  $bp-small-2) {
	.header,
	.hero-image{
		background-position: center;

		h1{
			font-size: 3.7rem;
			padding-top: 20px;
			margin-bottom: 30px;
		}

		h2{
			font-size: 2.7rem;
		}
	}

	.navbar{
		img{
			width:  120px;
			margin: 22px 0;
		}
		ul{
			li{
				margin:  0 0 0 10px;
			}
		}
	}
	.project-grid{

		li.item {
			width: auto;
			margin-left: 0;
		}
	}

	p{
		font-size:  1.8rem;
	}
}
